<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDji52N_OO_jlJnVzY9Ga-y-7or_RAiuU0</string>
	<key>GCM_SENDER_ID</key>
	<string>130374919151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-e0362</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-e0362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130374919151:ios:da55fdf1e8f6dde2e3cc1a</string>
</dict>
</plist>